QMainWindow{
    background-color:#FFF;
    padding: 0px;
}
MenuButton{
    border: none;
    background-color: #fff;
    min-height: 60px;
    min-width: 60px;
}
MenuButton:hover{
    background-color: #e6e6e6;
}
